/* styles.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#app {
    background-color: rgba(0, 229, 255, 0.76);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
    transition: max-width 0.3s ease;
}

#location-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#location-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.button {
    color: black;
    height: 48px;
    line-height: 48px;
    max-width: max-content;
    display: flex;
    align-items: center;
    text-decoration: none;
    border: none;
    outline: none;
    gap: 16px;
    padding: 16px;
    border-radius: 30px;
}

.button:hover {
    background-color: #0056b3;
}

#weather-info {
    margin-top: 20px;
}

#loading {
    font-weight: bold;
    color: #007BFF;
}

/* Responsive Styles */
@media (max-width: 768px) {
    #app {
        max-width: 90%;
    }
    
    #location-input {
        font-size: 14px;
    }
    
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    #app {
        max-width: 100%;
        padding: 15px;
    }
    
    h1 {
        font-size: 24px;
    }
    
    #location-input {
        font-size: 14px;
        padding: 8px;
    }
    
    button {
        font-size: 14px;
        padding: 8px 16px;
    }
    
    #weather-info {
        margin-top: 15px;
    }
}
